@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-main {
  background-color: #FCFCFC;
}

.button-yellow {
  color: #C01114;
  border: 2px solid #F26F02;
  width: 50%;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../public/static/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/static/Poppins-Light.ttf');
}

@font-face { 
  font-family: 'Poppins-bold';
  src: url('../public/static/Poppins-SemiBold.ttf')
}

